.main-nav{
    height: 70px;
    color: #fff;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 0;
    margin-right: 0;
}

.nav-logo-text{
    color: #fff;
}

.main-menu{
    display: flex;
    
    //justify-content: space-between; //dar espaço entre os li do menu    
    justify-content: center;

    li:nth-child(2){ //pseudo seletor para conseguir pegar a 2º li onde eu coloco logo margin right e left e assim ja nao mecho nos outros
        margin-right: 85px;
        margin-left:85px;
    }

}

.nav-link{
    font-style: normal; //para tirar o sublinhado do link

    font-size: 18px;
    color: rgba(255, 255, 255, 0.5);

    &.active{ //dentro da tag a a class active que existir por isso usamos o &
        font-weight: bold;
        color: #FFF;

    }

    &:hover{//quando tiver a pssar o rato por la
        color: #FFF;
    }
}